<header
  class="fixed flex justify-around items-center w-full left-1/2 -translate-x-1/2 py-1 px-10 backdrop-blur-[15px] bg-purple-950/20 z-50"
>
  <img class="rounded-full size-12 opacity-80" src="/foto_nico.png" alt="nicolas foto" />

  <nav class="flex flex-row gap-x-4 opacity-85">
    <a class="hover:text-red-300" href="#top">Inicio</a>
    <a class="hover:text-red-300" href="#proyectos">Projectos</a>
    <a class="hover:text-red-300" href="mailto:nikoo.cs@gmail.com">Contacto</a>
  </nav>
</header>
