<ol class="relative border-s border-gray-200 dark:border-gray-700">
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-indigo-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-indigo-900"
    >
      <svg
        class="w-2.5 h-2.5 text-indigo-800 dark:text-indigo-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        />
      </svg>
    </span>
    <h3
      class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
    >
      Control de Préstamos de Notebooks
      <span
        class="bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-indigo-900 dark:text-indigo-300 ms-3"
        >Último</span
      >
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Duoc UC - 2025</time
    >
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Frontend en Angular. Funcionalidades: gestión de solicitudes, inventario e
      historial. Integración con .NET, SQL Server. Enfoque en UI responsiva y
      experiencia de usuario.
    </p>
    <a
      href="https://github.com/nikostrike/Portafolio"
      class="inline-flex items-center gap-1 px-2 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-indigo-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-indigo-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    >
      <app-terminal-icon></app-terminal-icon>
      Repositorio</a
    >
  </li>
  <li class="mb-10 ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-indigo-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-indigo-900"
    >
      <svg
        class="w-2.5 h-2.5 text-indigo-800 dark:text-indigo-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        />
      </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      Sistema de Reservas Hoteleras
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Duoc UC - Octubre 2024</time
    >
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Web app con Django y Oracle. Funcionalidades: login, registro, búsqueda y
      reservas. Modelado de base de datos, documentación completa y trabajo
      colaborativo con GitHub.
    </p>
    <a
      href="https://github.com/nikostrike/ReservasHoteleras"
      class="inline-flex items-center gap-1 px-2 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-indigo-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-indigo-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    >
      <app-terminal-icon></app-terminal-icon>
      Repositorio</a
    >
  </li>
  <li class="ms-6">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-indigo-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-indigo-900"
    >
      <svg
        class="w-2.5 h-2.5 text-indigo-800 dark:text-indigo-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        />
      </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
      GameStore – App de tienda virtual
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >Duoc UC - Julio 2024</time
    >
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      App híbrida con Angular e Ionic. Funcionalidades: autenticación, catálogo,
      carrito de compras y detalle de productos. Consumo de APIs REST y
      persistencia local. Diseño adaptado a móvil y web.
    </p>
    <a
      href="https://github.com/nikostrike/GameStore"
      class="inline-flex items-center gap-1 px-2 py-1 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-indigo-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-indigo-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    >
      <app-terminal-icon></app-terminal-icon>
      Repositorio</a
    >
  </li>
</ol>
