<main>
  <section class="py-30 pt-40">
    <h1 class="text-5xl font-bold flex flex-col items-start justify-start gap-x-4 pb-5">
      <span class="flex" aria-label="Animated Greeting">
        <span
          *ngFor="let char of greetingLetters; let i = index"
          class="inline-block animate-bounce"
          [ngStyle]="{ 'animation-delay': i * 100 + 'ms' }"
        >
          {{ char }}
        </span>,
      </span>
      <span class="flex gap-x-6">soy Nico!
      <a
        href="https://linkedin.com/in/nicolasmatiasgs"
        target="_blank"
        rel="noopener"
        class="flex items-center"
      >
        <app-badge class="-mt-4"></app-badge>
      </a></span>
    </h1>
    <h2 class="text-2xl pb-6 opacity-80">
      <span class="text-yellow-200">Desarrollador Full Stack</span> con
      experiencia práctica en
      <span class="text-violet-300">proyectos web y móviles</span> usando
      <span class="text-violet-300">
        Angular, .NET, SQL Server, Django e Ionic</span
      >. Me gusta crear soluciones funcionales, escalables y enfocadas en el
      usuario,
      <span class="text-yellow-200"
        >integrando frontend, backend y base de datos</span
      >
      con buenas prácticas de desarrollo. Disfruto trabajar en equipo, aprender
      constantemente y aportar con soluciones que generen impacto real.
    </h2>

    <ul>
      <nav class="flex gap-x-6">
        <a
          class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-2"
          href="https://linkedin.com/in/nicolasmatiasgs"
        >
          <app-linkedin-icon></app-linkedin-icon>
          Linkedin
        </a>
        <a
          class="hover:scale-110 hover:bg-white/20 transition rounded-full bg-white/10 border border-white/10 flex justify-center items-center gap-x-2 py-2 px-2"
          href="https://github.com/nikostrike"
        >
          <app-github-icon></app-github-icon>
          Github
        </a>
        <a
          class="hover:scale-110 hover:bg-white/20 transition rounded-full bg-white/10 border border-white/10 flex justify-center items-center gap-x-2 py-2 px-2"
          href="mailto:nikoo.cs@gmail.com"
        >
          <app-gmail-icon></app-gmail-icon>
          Gmail
        </a>
      </nav>
    </ul>
  </section>
</main>
