<section class="py-25">
  <h2 class="text-3xl font-bold flex items-center gap-x-3 pb-8 pt-14">
    <app-school-icon class="opacity-60"></app-school-icon>
    Educación
  </h2>
  <div
    class="bg-white dark:bg-red-300/20 p-6 rounded-lg shadow-md flex items-center justify-between"
  >
    <div>
      <h3 class="text-xl font-semibold text-gray-900 dark:text-yellow-500">
        Duoc UC
      </h3>
      <p class="text-sm text-gray-500 dark:text-gray-200">
        Título: Analista Programador Computacional
      </p>
      <time class="block text-sm text-gray-400 dark:text-gray-400"
        >2023 - 2025 (en curso)</time
      >
    </div>
    <img src="/duoc-logo.png" alt="Logo Duoc UC" class="h-16 w-auto" />
  </div>
</section>
