<section class="pb-60 items-center justify-center">
  <h2 class="text-3xl font-bold flex items-center gap-x-3 pb-8 pt-14">
    Habilidades Técnicas
  </h2>
  <ul class="flex flex-wrap gap-4">
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/javascript.svg" />
        JavaScript
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/typescript.svg" />
        TypeScript
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/csharp.svg" />
        C#
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/sql.svg" />
        SQL
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/python.svg" />
        Python
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/html5.svg" />
        HTML5
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/css_old.svg" />
        CSS3
      </a>
    </li>
  </ul>

  <h2 class="text-3xl font-bold flex items-center gap-x-3 pb-8 pt-14">
    Frameworks y tecnologías
  </h2>
  <ul class="flex flex-wrap gap-4">
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/angular.svg" />
        Angular
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/microsoft.svg" />
        .NET Core
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/logo-ionic.svg" />
        Ionic
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/django.svg" />
        Django
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/tailwind.svg" />
        Tailwind CSS
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/nodejs.svg" />
        Node.js
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/fastapi.svg" />
        REST APIs
      </a>
    </li>
    <li>
      <a
        class="hover:scale-110 hover:bg-white/20 transition bg-white/10 rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4"
      >
      <img class="size-5" src="/oracle.svg" />
        Oracle
      </a>
    </li>
  </ul>
</section>
